.App {
  text-align: center;
}

.input-color .color-box {
  width: 5px;
  height: 5px;
  display: inline-block;
  font-size: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
